{% extends 'FMRChantierBundle::layout.html.twig' %}
{% block content -%}
	<div class="page-header">
	    <h1>Liste des fournitures du chantier {{ chantier }}</h1>
		<div style="text-align:right;">
			<a class="btn btn-primary" href="{{ path('chantier_show', { 'id': chantier.id }) }}">
				Retour aux détails du chantier
			</a>
		</div>
   	</div>
   	<div class="row-fluid">
    	<h3>Ajout de fournitures : </h3>
    	<script>
			function getFormulaireFourniture(url){
				$('#formulaire_fourniture').html('<p>Chargement du formulaire...</p>');
				$.ajax({
					url: url,
					type: 'GET',
					success: function(data){
						$('#formulaire_fourniture').html(data);
					}
				});
			}
    	</script>
    	<div class="btn-group">
		
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Choisir un type de fourniture
			<span class="caret"></span>
			</a>
	    	<ul class="dropdown-menu">
	    		<li>
	    			<a href="{{ path('fourniture_new',{'id':chantier.id,'type':''}) }}" onclick="getFormulaireFourniture('{{ path('fourniture_new',{'id':chantier.id,'type':''}) }}');return false;">Ajouter une fourniture simple</a>
	    		</li>
	    		<li>
	    			<a href="{{ path('fourniture_new',{'id':chantier.id,'type':'1D'}) }}" onclick="getFormulaireFourniture('{{ path('fourniture_new',{'id':chantier.id,'type':'1D'}) }}');return false;">Ajouter une fourniture 1D</a>
				</li>
				<li>
					<a href="{{ path('fourniture_new',{'id':chantier.id,'type':'2D'}) }}" onclick="getFormulaireFourniture('{{ path('fourniture_new',{'id':chantier.id,'type':'2D'}) }}');return false;">Ajouter une fourniture 2D</a>
				</li>
				<li>    	
					<a href="{{ path('fourniture_new',{'id':chantier.id,'type':'3D'}) }}" onclick="getFormulaireFourniture('{{ path('fourniture_new',{'id':chantier.id,'type':'3D'}) }}');return false;">Ajouter une fourniture 3D</a>
				</li>
	    	</ul>
    	</div>
    	
    	<div id="formulaire_fourniture"></div>
    	
	    <h3>Liste des fournitures : </h3>
		<table class="table table-bordered table-striped table-condensed">
	        <thead>
	            <tr>
	                <th>Descriptif</th>
	                <th>Taille long. x larg. x haut.</th>
	                <th>Quantité</th>
	                <th>Quantité totale</th>
	                <th>Date</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for entity in fournitures %}
	            <tr>
	               	<td>{{ entity.descriptif }}</td>
					<td>{{ entity.taille | raw  }}</td>
					<td>{{ entity.quantite }}</td>
					<td>{{ entity.CalculQuantiteTotale }} {{ entity.unite|raw }}</td>
					<td>{% if entity.date %}{{ entity.date|date('d.m.Y') }}{% endif %}</td>
	                <td>
	                	<a class="btn btn-success" href="{{ path('fourniture_edit', { 'id': entity.id }) }}" 
	                		onclick="getFormulaireFourniture('{{ path('fourniture_edit', { 'id': entity.id }) }}');return false;">
	                		Modifier
	                	</a>
	                	<a class="btn btn-danger" href="{{ path('fourniture_delete', { 'id': entity.id }) }}">
				            Supprimer
				        </a>
	                </td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
    </div>
    {% endblock %}
    