{% extends 'FMRChantierBundle::layout.html.twig' %}
{% block content -%}
<div class="page-header">
      <h1>Fourniture</h1>
</div>

<div class="row-fluid">
         <p><strong>Id</strong>
            {{ entity.id }}
        </p>
         <p><strong>Descriptif</strong>
            {{ entity.descriptif }}
        </p>
         <p><strong>Quantite</strong>
            {{ entity.quantite }}
        </p>
         <p><strong>Date</strong>
            {{ entity.date|date('Y-m-d H:i:s') }}
        </p>
         <p><strong>Datecreation</strong>
            {{ entity.dateCreation|date('Y-m-d H:i:s') }}
        </p>
         <p><strong>Unite</strong>
            {{ entity.unite }}
        </p></div>
        	<div class="form-actions">
        <a class="btn" href="{{ path('fourniture') }}">
            Retour &agrave; la liste
        </a>
        <a class="btn btn-primary" href="{{ path('fourniture_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
        <a class="btn btn-danger" href="{{ path('fourniture_delete', { 'id': entity.id }) }}">
            Supprimer
        </a>
</div>

{% endblock %}
