{% extends '::layout.html.twig' %}
{% block content -%}
	<div class="page-header">
	    <h1>Liste des articleoffres</h1>
	           <a class="btn" href="{{ path('articleoffre_new') }}">
            Ajouter un nouveau articleoffre
      	</a>
    	</div>
	
	
	<table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('articleoffre_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a class="btn btn-info" href="{{ path('articleoffre_show', { 'id': entity.id }) }}">Voir</a>
<a class="btn btn-success" href="{{ path('articleoffre_edit', { 'id': entity.id }) }}">Modifier</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

           <a class="btn" href="{{ path('articleoffre_new') }}">
            Ajouter un nouveau articleoffre
      	</a>
    {% endblock %}
