{# Projet TPI - Fabrice Maillefer #}
{# Template de base de l'application #}
{# Macro: Formatage des nombre en format monétaire #}
{% macro monetaire(montant) %}
{{ montant|number_format(2, '.', '`')}}
{% endmacro %}
{# importation des macros de ce template en tant que "macro" #}
{% import _self as macro %}

{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
         	
    {#  '@FMRCommonBundle/Resources/public/css/jquery-ui-1.10.3.custom.min.css'#}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/build/build_standalone.less'
       
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
	{% block stylesheets %}
    {# Styles personalisés #}
     	<style type="text/css">
     	.form_inline_block div{
     		display: inline-block;
     	}
     	table .text-right {
			text-align: right;
		}
     	</style>
    {% endblock stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Intranet -{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    
    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>

<body>
		<div class="navbar">
		    <div class="navbar navbar-default navbar-inverse navbar-static-top">
			      <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>
			          
			          <a href="{{ path('home') }}" class="navbar-brand">Intranet Gestion</a>
			       </div>
			       <div class="navbar-collapse collapse">
						{{ knp_menu_render('main',{'depth': 1 ,'currentClass': 'active','template': 'FMRCommonBundle:Menu:knp_menu.html.twig'}) }}
					
			        {# Nom de l'utilisateur connecté #}
			        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			        <ul class="nav navbar-nav navbar-right">
			              <li class="dropdown">
							 <a class="nav pull-right dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/">
							    {{ app.user.username }}
							    <b class="caret"></b>
							 </a>
						    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							    <li>
						             <a href="{{ path('fos_user_profile_show') }}">Mon profil</a>
						        </li>
						        <li>
						             <a href="/logout">Déconnexion</a>
						        </li>
						    </ul>
						    </li>
                  		</ul>
                  		{% endif %}
			        </div>
				</div>
			</div>

           <div style="padding: 0 30px;">
    		{# Affichage des messages flash #}
			{% for type, flashMessages in app.session.flashbag.all() %}
			    {% for flashMessage in flashMessages %}
			        <div class="alert alert-{{ type }}">
			            {{ flashMessage|raw }}
			        </div>
			    {% endfor %}
			{% endfor %}
			{# Block principal du contenu #}
			{% block body %}{% endblock %}
		</div>
    {% javascripts
    	'@FMRCommonBundle/Resources/public/js/jquery.js'
    	'@FMRCommonBundle/Resources/public/js/jquery-ui-1.10.3.custom.min.js'
    	'@FMRCommonBundle/Resources/public/js/hinclude.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/affix.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/alert.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/button.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/carousel.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/collapse.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/dropdown.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/modal.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/popover.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/scrollspy.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/tab.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/js/transition.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
        '@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js'
    	'@MopaBootstrapBundle/Resources/public/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
	{% block javascripts %}{% endblock %}
    <script type="text/javascript">
        $(document).ready(function () {
        	loadAddon();
        });
        function loadAddon(){
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();

            $('[data-provider="datepicker"]').datetimepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'fr',
                minView: 'month',
                pickerPosition: 'bottom-left',
                todayBtn: true,
                startView: 'month'
            });

            $('[data-provider="datetimepicker"]').datetimepicker({
                autoclose: true,
                format: 'dd/mm/yyyy hh:ii',
                language: 'fr',
                pickerPosition: 'bottom-left',
                todayBtn: true
            });

            $('[data-provider="timepicker"]').datetimepicker({
                autoclose: true,
                format: 'hh:ii',
                formatViewType: 'time',
                maxView: 'day',
                minView: 'hour',
                pickerPosition: 'bottom-left',
                startView: 'day'
            });

            // Restore value from hidden input
            $('input[type=hidden]', '.date').each(function(){
                if($(this).val()) {
                    $(this).parent().datetimepicker('setValue');
                }
            });
			
        }
    </script>

</body>
</html>
