{# Projet TPI - Fabrice Maillefer #}
{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }} Modification de la fourniture {{ entity.id }}{% endblock %}
{% block sidebar %}
			<li><a href="{{ path('document_show', { 'id': entity.relationClient.id }) }}">Retour à {{ entity.relationClient.idsd }}</a></li>
			{% endblock %}
{% block content %}
<div class="page-header">
    <h4>Modification de la fourniture {{ entity.id }}</h4>
    	<div style="text-align:right;">
		<a href="{{ path('document_show', { 'id': entity.relationClient.id }) }}">Retour à {{ entity.relationClient.idsd }}</a>
	</div>
</div>
<div class="row">
	{% include 'FMRLignesBundle:Ligne:edit_single.html.twig' %}
</div>
	<div class="form-actions">
		<a class="btn btn.default" href="{{ path('document_show', { 'id': entity.relationClient.id }) }}">Retour à {{ entity.relationClient.idsd }}</a>
        <a class="btn btn-danger" href="{{ path('ligne_delete', { 'id': entity.id }) }}">
            Supprimer
        </a>
</div>

{% endblock %}

