{# Projet TPI - Fabrice Maillefer #}
{# Projet TPI - Fabrice Maillefer #}
{% extends '::layout.html.twig' %}
{% block title %}{{ parent() }} Edition de toutes les lignes de {{ entity.idsd }}{% endblock %}
{% block sidebar %}
			<li><a href="{{ path('document_show', { 'id': entity.id }) }}">Retour à {{ entity.idsd }}</a></li>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	function submitForm(formId, url){
    	$.ajax({
		  url: url,
		  type: 'POST',
		  data: $("#"+formId).serialize(),
		  success: function(data){
			  $("#"+formId+"_status").html("").html("<div class=\"alert alert-success\">"+data+"</div>");
			},
		  statusCode: {
				 406: function(data)
          {
        	  $("#"+formId+"_status").html("").html("<div class=\"alert alert-error\">"+data.responseText+"<button class=\"btn btn-default btn-sm\" type=\"reset\">Réinitialiser les valeurs</button></div>");
          }},
	      error:  function(data)
	      {
	        $("#"+formId+"_status").html("").html("<div class=\"alert alert-alert\">Erreur serveur:<br/> "+data.responseText+"</div>");
	      }
		 });
	}
</script>
{% endblock %}
{% block content %}
<div class="page-header">
		<h1>Edition de toutes les lignes de {{ entity.idsd }} N° {{ entity.id }} {% if entity.client %} pour {{ entity.client }}{% endif %}</h1>
		<div style="text-align:right;">
			<a class="btn btn-primary" href="{{ path('document_show', { 'id': entity.id }) }}">Retour à {{ entity.idsd }}</a>
		</div>
</div>
<div class="row">
	{% for ligne in entity.lignes %}
		<div class="panel panel-default">
			<div class="panel-heading">
			<h4 class="panel-title">Ligne #{{ ligne.ordre }} <small>Type : {{ ligne.type }}</small></h4>
			</div>
			<div class="panel-body">
			{% if loop.index > 6 %}
				{{ render_hinclude(url('ligne_edit_form', {'id' : ligne.id }),{'default': 'Chargement...'}) }}
			{% else %}
				{{ render(url('ligne_edit_form', {'id' : ligne.id })) }}
			{% endif %}
			</div>
		</div>
	{% endfor %}
</div>
<div class="form-actions">
		<a class="btn btn-primary" href="{{ path('document_show', { 'id': entity.id }) }}">Retour à {{ entity.idsd }}</a>
</div>

{% endblock %}
