{% extends '::layout.html.twig' %}
{% block content %}
<div class="page-header">
    <h1>Modifier un article de facture</h1>
    	<div style="text-align:right;">
		<a class="btn" href="{{ path('facture_show', { 'id': entity.facture.id }) }}" >
            Retour aux d&eacute;tails de la facture
        </a>
	</div>
</div>

<form action="{{ path('articlefacture_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<input type="hidden" name="_method" value="PUT" />
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">Enregistrer</button>
    </p>
</form>

	<div class="form-actions">
		<a class="btn" href="{{ path('facture_show', { 'id': entity.facture.id }) }}" >
            Retour aux d&eacute;tails de la facture
        </a>
        <a class="btn btn-danger" href="{{ path('articlefacture_delete', { 'id': entity.id }) }}">
            Supprimer
        </a>
</div>

{% endblock %}

