{% extends '::layout.html.twig' %}
{% block content -%}
	<div class="page-header">
	    <h1>Liste des articlefactures</h1>
	           <a class="btn" href="{{ path('articlefacture_new') }}">
            Ajouter un nouveau articlefacture
      	</a>
    	</div>
	
	
	<table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ordre</th>
                <th>Descriptif</th>
                <th>Quantite</th>
                <th>Unite</th>
                <th>Prixunitaire</th>
                <th>Datecreation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('articlefacture_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.ordre }}</td>
                <td>{{ entity.descriptif }}</td>
                <td>{{ entity.quantite }}</td>
                <td>{{ entity.unite }}</td>
                <td>{{ entity.prixUnitaire }}</td>
                <td>{% if entity.dateCreation %}{{ entity.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><a class="btn btn-info" href="{{ path('articlefacture_show', { 'id': entity.id }) }}">Voir</a>
<a class="btn btn-success" href="{{ path('articlefacture_edit', { 'id': entity.id }) }}">Modifier</a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

           <a class="btn" href="{{ path('articlefacture_new') }}">
            Ajouter un nouveau articlefacture
      	</a>
    {% endblock %}
