{% extends '::layout.html.twig' %}
{% block content -%}
<div class="page-header">
      <h1>ArticleFacture</h1>
</div>

<div class="row-fluid">
         <p><strong>Id</strong>
            {{ entity.id }}
        </p>
         <p><strong>Ordre</strong>
            {{ entity.ordre }}
        </p>
         <p><strong>Descriptif</strong>
            {{ entity.descriptif }}
        </p>
         <p><strong>Quantite</strong>
            {{ entity.quantite }}
        </p>
         <p><strong>Unite</strong>
            {{ entity.unite }}
        </p>
         <p><strong>Prixunitaire</strong>
            {{ entity.prixUnitaire }}
        </p>
         <p><strong>Datecreation</strong>
            {{ entity.dateCreation|date('Y-m-d H:i:s') }}
        </p></div>
        	<div class="form-actions">
        <a class="btn" href="{{ path('articlefacture') }}">
            Retour &agrave; la liste
        </a>
        <a class="btn btn-primary" href="{{ path('articlefacture_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
        <a class="btn btn-danger" href="{{ path('articlefacture_delete', { 'id': entity.id }) }}">
            Supprimer
        </a>
</div>

{% endblock %}
