{# Projet TPI - Fabrice Maillefer #}
{% extends 'FMRClientBundle::layout.html.twig' %}
{% block title %}{{ parent() }} Modification de {{ entity.nomPrenom }}{% endblock %}
{% block sidebar %}
    {{ parent() }}
    <li class="divider"></li>
	<li class="nav-header">{{ entity.nomPrenom }}</li>
	<li><a href="{{ path('client_show', { 'id': entity.id }) }}">Détails du client</a></li>
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Modification du client : {{ entity.nomPrenom }}</h1>
	<div style="text-align:right;">
		<a class="btn" href="{{ path('client_show', { 'id': entity.id }) }}">
            Retour aux d&eacute;tails du client
        </a>
	</div>
</div>


<form action="{{ path('client_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	<input type="hidden" name="_method" value="PUT" />
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">Enregistrer</button>
    </p>
</form>

	<div class="form-actions">
		<a class="btn" href="{{ path('client_show', { 'id': entity.id }) }}">
            Retour aux d&eacute;tails du client
        </a>
        <a class="btn btn-danger" href="{{ path('client_delete', { 'id': entity.id }) }}">
            Supprimer
        </a>
</div>

{% endblock content %}