{% extends 'FMRClientBundle::layout.html.twig' %}
{% block content -%}
	<div class="page-header">
		<div class="pull-right" style="text-align:right;">
      		<form action="{{ path('client_search') }}" >
      			<input name="q" type="search" placeholder="Rechercher un client"{% if recherche is defined %}value="{{ recherche }}"{% endif %} /><br />
      			<button type="submit" class="btn">Recherche</button>
      		</form>
      	</div>
      	{% if recherche is defined %}
      		<h1>{{ count }} r&eacute;sultats pour la recherche &quot;{{ recherche }}&quot;</h1>
      	{% else %}
			<h1>Liste des derniers clients</h1>
	    {% endif %}
	    <a class="btn" href="{{ path('client_new') }}">
            Ajouter un nouveau client
      	</a>
      	
	</div>
	
	<table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th>Client</th>
				<th class="hidden-phone">Adresse</th>
				<th>Localite</th>
				<th class="hidden-phone">Date de cr&eacute;ation</th>
				<th class="hidden-phone">Email</th>
				<th class="hidden-phone hidden-tablet">Téléphone</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in entities %}
			<tr>
				<td><a href="{{ path('client_show', { 'id': entity.id }) }}">{{ entity.nomPrenom }}</a></td>
				<td class="hidden-phone">{{ entity.adresse }}</td>
				<td>{{ entity.nPA }} {{ entity.localite }}</td>
				<td class="hidden-phone">{% if entity.dateCreation %}{{ entity.dateCreation|date('d.m.Y') }}{% endif %}</td>
				<td class="hidden-phone">{{ entity.email }}</td>
				<td class="hidden-phone hidden-tablet">{{ entity.tel }}</td>
				<td><a class="btn btn-info" href="{{ path('client_show', { 'id': entity.id }) }}">Voir</a>
					<a class="btn btn-success" href="{{ path('client_edit', { 'id': entity.id }) }}">Modifier</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="6">
					Aucun client trouv&eacute;.
					<br/><br/>
					<a class="btn btn-primary" href="{{ path('client_new') }}">
		            	Ajouter un nouveau client
		      		</a>
		      	</td>
		      </tr>
		      
		{% endfor %}
		</tbody>
	</table>

      
    {% endblock %}
