{% extends 'FMRClientBundle::layout.html.twig' %}
{% block content -%}
<div class="page-header">
      <h1>Client : {{ entity.nomPrenom }}</h1>
</div>

<div class="row-fluid">
	<div class="span4">
         <p><strong>Nom</strong>
            {{ entity.nom }}
        </p>
         <p><strong>Prénom</strong>
            {{ entity.prenom }}
        </p>
         <p><strong>Adresse</strong>
            {{ entity.adresse }}
        </p>
         <p><strong>NPA</strong>
            {{ entity.nPA }}
        </p>
         <p><strong>Localité</strong>
            {{ entity.localite }}
        </p>
    </div>
	<div class="span4">
         <p><strong>Date Création</strong>
            {{ entity.dateCreation|date('d.m.Y') }}
        </p>
        {% if entity.divers %}
	        <p><strong>Divers</strong>
	            {{ entity.divers }}
	        </p>
       	{% endif %}
        {% if entity.email %}
        	<p><strong>Email</strong>
        	    {{ entity.email }}
        	</p>
       	{% endif %}
        {% if entity.tel %}
        <p><strong>Téléphone</strong>
            {{ entity.tel }}
        </p>
        {% endif %}
     </div>
     <div class="span4">
     	<p><strong>NB Offres</strong>
        	   {{ entity.offres.count }}
       	</p>
       	<p><strong>NB Chantiers</strong>
        	   {{ entity.chantiers.count }}
       	</p>
       	<p><strong>NB Factures</strong>
        	   {{ entity.factures.count }}
       	</p>
  </div>
</div>
<div class="row-fluid">
	<h3>Offres en cours</h3>
		<a href="{{ path('offre_search') }}?q=client:{{ entity.id }}">Toutes les offres</a>
       	<p>
	       	<a class="btn btn-primary" href="{{ path('offre_client_new', { 'id': entity.id }) }}">
	            Créer une offre pour ce client.
	        </a>
        </p>
		{% include 'FMROffreBundle:Offre:offre_list_only.html.twig' %}
	<h3>Chantiers en cours</h3>
		<a href="{{ path('chantier_search') }}?q=client:{{ entity.id }}">Tous les chantiers</a>
		<p>
	       	<a class="btn btn-primary" href="{{ path('chantier_client_new', { 'id': entity.id }) }}">
	            Créer un chantier pour ce client.
	        </a>
        </p>
		{% include 'FMRChantierBundle:Chantier:chantier_list_only.html.twig' %}

	<h3>Factures en cours</h3>
		<a href="{{ path('facture_search') }}?q=client:{{ entity.id }}">Toutes les factures</a>
		<p>
	       	<a class="btn btn-primary" href="{{ path('facture_client_new', { 'id': entity.id }) }}">
	            Créer une facture pour ce client.
	        </a>
        </p>
		{% include 'FMRFactureBundle:Facture:facture_list_only.html.twig' %}
</div>

<div class="form-actions">
        <a class="btn" href="{{ path('client') }}">
            Retour &agrave; la liste
        </a>
        
        <a class="btn btn-primary" href="{{ path('client_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
        <a class="btn btn-danger" href="{{ path('client_delete', { 'id': entity.id }) }}">
            Supprimer
        </a>
</div>

{% endblock %}
