<table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>N°</th>
                <th class="hidden-phone">Date de cr&eacute;ation</th>
                <th>R&eacute;f&eacute;rence</th>
                <th class="hidden-phone">Nb Article</th>
                <th class="hidden-phone">Statut</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td><a href="{{ path('facture_show', { 'id': facture.id }) }}">{{ facture.id }}</a></td>
                <td>{{ facture.client }}</td>
                <td class="hidden-phone">{% if facture.dateCreation %}{{ facture.dateCreation|date('d.m.Y') }}{% endif %}</td>
                <td>{{ facture.referenceClient }}</td>
                <td class="hidden-phone">{{ facture.articles.count }}</td>
                <td class="hidden-phone">{{ facture.statut }}</td>
                <td>{{ macro.monetaire(facture.CalculSommeMontantTotal) }}</td>
                <td><a class="btn btn-info" href="{{ path('facture_show', { 'id': facture.id }) }}">Voir</a>
                </td>
            </tr>
           {% else %}
			<tr>
				<td colspan="7">
					Aucune facture trouv&eacute;e.
		      	</td>
		      </tr>
        {% endfor %}
    </table>