{% macro monetaire(montant) %}
{{ montant|number_format(2, '.', '`')}}
{% endmacro %}
{% import _self as macro %}
<pdf>
        <dynamic-page>
       		<placeholders>
                    <footer>
                    <div height="50px" width="100%">
                        <page-info offset="0" format="page %s for %s" />
                    </div>
                </footer>
            </placeholders>
	{%  include "::entete.pdf.twig" %}
		<br />
		<br />
		<h2>Facture N° {{ entity.id }} : </h2>
		<p>L'Abergement, le {{ entity.dateImpression|date('d.m.Y') }}</p>
		<table>
				<tr>
					<td>Descriptif</td>
					<td width="50px">Quantité</td>
					<td width="40px">Unité</td>
					<td width="100px">Prix Unitaire</td>
					<td width="100px">Montant</td>
			
				</tr>
			{% for article in entity.articles %}
				<tr>
					<td>{{ article.descriptif|raw }}</td>
					<td>{{ article.quantite }}</td>
					<td>{{ article.unite }}</td>
					<td class="text-right">{{ macro.monetaire(article.prixUnitaire) }}</td>
					<td class="text-right">{{ macro.monetaire(article.calculPrixTotal) }}</td>
				</tr>
			{% endfor %}
				<tr>
					<td class="text-right border-table-footer" colspan="4">Sous Total	: </td>
					<td class="text-right">{{ macro.monetaire(entity.CalculSommeTotale) }}</td>
				
				</tr>
				<tr>
					<td class="text-right border-table-footer" colspan="4" >TVA {{ entity.tVA*100 }}% : </td>
					<td class="text-right">{{ macro.monetaire(entity.CalculTVA) }}</td>
				</tr>
				<tr>
					<td class="text-right border-table-footer" colspan="4">Total TTC : </td>
					<td class="text-right">{{ macro.monetaire(entity.CalculSommeTTCTotale) }}</td>
				</tr>
				{% if entity.rabais > 0 %}
				<tr>
					<td class="text-right border-table-footer" colspan="4">Rabais {{ entity.rabais*100 }}% : </td>
					<td>-{{ macro.monetaire(entity.CalculRabais)  }}</td>
				</tr>
				<tr>
					<td class="text-right border-table-footer" colspan="4">Montant Net : CHF </td>
					<td class="text-right">{{ macro.monetaire(entity.CalculSommeMontantTotal) }}</td>
				</tr>
				{% endif %}
				<tr>
					<td class="text-right" colspan="4">Montant Net à 30 jours : CHF </td>
					<td class="text-right">{{ macro.monetaire(entity.CalculSommeMontantArrondiTotal) }}</td>
				</tr>
		</table>
    </dynamic-page>
</pdf>