{% extends 'FMROffreBundle::layout.html.twig' %}
{% block content -%}
	<div class="page-header">
		<div class="pull-right" style="text-align:right;">
      		<form action="{{ path('offre_search') }}" >
      			<input name="q" type="search" placeholder="Rechercher une offre"{% if recherche is defined %}value="{{ recherche }}"{% endif %} /><br />
      			<button type="submit" class="btn">Recherche</button>
      		</form>
      	</div>
		{% if recherche is defined %}
      		<h1>R&eacute;sultats de la recherche &quot;{{ recherche }}&quot;</h1>
      	{% else %}
			<h1>Liste des offres</h1>
			<p>Seules les offres en attente de confirmation du client sont affichées.</p>
		{% endif %}
	       	<a class="btn" href="{{ path('offre_new') }}">
				Ajouter une nouvelle offre
			</a>
    	</div>
	
	
	<table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>N°</th>
                <th>Client</th>
                <th class="hidden-phone">Date de cr&eacute;ation</th>
                <th>R&eacute;f&eacute;rence</th>
                <th class="hidden-phone">Nb Article</th>
                <th class="hidden-phone">Statut</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('offre_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.client }}</td>
                <td class="hidden-phone">{% if entity.dateCreation %}{{ entity.dateCreation|date('d.m.Y') }}{% endif %}</td>
                <td>{{ entity.referenceClient }}</td>
                <td class="hidden-phone">{{ entity.articles.count }}</td>
                <td class="hidden-phone">{{ entity.statut }}</td>
                <td>{{ macro.monetaire(entity.CalculSommeMontantTotal) }}</td>
                <td><a class="btn btn-info" href="{{ path('offre_show', { 'id': entity.id }) }}">Voir</a>
                </td>
            </tr>
            {% else %}
			<tr>
				<td colspan="8">
					Aucune offre trouv&eacute;e.
					<br/><br/>
					<a class="btn btn-primary" href="{{ path('offre_new') }}">
						Ajouter une nouvelle offre
					</a>
		      	</td>
		      </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
