{% extends 'FMROffreBundle::layout.html.twig' %}

{% block content -%}
<div class="page-header">
		<h1>Offre N° {{ entity.id }} {% if entity.client %} pour {{ entity.client }}{% endif %}</h1>
		<div style="text-align:right;">
			<a class="btn btn-primary" href="{{ path('offre_edit', { 'id': entity.id }) }}">
				Editer
			</a>
		</div>
	</div>

<div class="row-fluid">
		<h3>Informations sur l'offre : </h3>
		<div class="row-fluid">
			<div class="span6">
				<p><strong>Référence Client : </strong>{{ entity.referenceClient }}</p>
				<p><strong>Statut : </strong>{{ entity.statut }}</p>
				{% if not entity.chantier %}
           			<form action="{{ path('offre_statut', {'id':entity.id}) }}" method="post" {{ form_enctype(formStatut) }}>
           				<input type="hidden" name="_method" value="PUT" />
		           		{{ form_widget(formStatut) }}
		           		<button type="submit" class="btn btn-primary">Changer le statut</button>
    				</form>
    				{% endif %}
				
			</div>
			<div class="span6">
				<p><strong>Date de cr&eacute;ation</strong>
           		{{ entity.dateCreation|date('d.m.Y H:i') }}</p>
           		{% if entity.dateImpression %}
					<p><strong>Date d'impression</strong>
						{{ entity.dateImpression|date('d.m.Y H:i') }}
					</p>
				{% endif %}
           		<p>
           			{% if entity.statut.id == 2 or entity.statut.id == 3 or entity.chantier %}
					<h4>Chantier :</h4>
					{% if entity.chantier %}
						<a class="btn btn-info" href="{{ path('chantier_show', { 'id': entity.chantier.id }) }}">Voir le chantier lié</a>
					{% else %}
						<a class="btn btn-primary" href="{{ path('chantier_offre_new', { 'id': entity.id }) }}">
					       Offre acceptée par le client, créer le chantier
					    </a>
					{% endif %}
				{% endif %}
    			</p>
			</div>
		</div>
		<hr>
		{% if entity.client %}
			<h3>Informations sur le client :</h3>
			<p><strong>Client : </strong><a href="{{ path('client_show', { 'id': entity.client.id }) }}">{{ entity.client }}</a></p>
			<p><strong>Adresse : </strong>{{ entity.client.adresse }}</p>
			<p><strong>Localité : </strong>{{ entity.client.NPA }} {{ entity.client.Localite }}</p>
			<hr>
		{% endif %}
		
		<div class="btn-group">
		  <a href="{{ path('offre_print', { 'id': entity.id } ) }}?_format=pdf" target="_blank" class="btn btn-danger">Impression en PDF</a>
		  <button class="btn  btn-danger dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li>
		    	<a href="{{ path('offre_print', { 'id': entity.id } ) }}?_format=html" >Impression en HTML</a>
		    </li>
		  </ul>
		</div>
		
		<h3>Articles : </h3>
		
		<table class="table table-bordered table-striped table-condensed">
	        <thead>
	            <tr>
	            	<th>Descriptif</th>
	            	<th>Quantité</th>
	            	<th>Unité</th>
	            	<th>Prix Unitaire</th>
	            	<th>Prix Total</th>
	                {% if entity.editable  %}<th>Actions</th>{% endif %}
	            </tr>
	        </thead>
	        <tbody id="sortable">
	        {% for article in entity.articles %}
	            <tr id="{{article.id}}">
	                <td>{{ article.descriptif }}</td>
	                <td>{{ article.quantite }}</td>
	                <td>{{ article.unite }}</td>
	                <td>{{ article.prixUnitaire }}</td>
	                <td>{{ article.calculPrixTotal }}</td>
	                {% if entity.editable  %}<td><a href="{{ path('articleoffre_edit', { 'id': article.id }) }}">Modifier</a></td>{% endif %}
	            </tr>
	        {% endfor %}
	        </tbody>
	        <tfoot>
	        {% set colspan = 2 %}
	        	<tr>
	        		<td colspan="{{ colspan }}" rowspan="10">
						<button class="btn" onclick="activeSortable(this);"><i class="icon-move"></i> Activer le changement d'ordre</button>
						 <script>
						 	
						    function activeSortable(elem) {
						        $( "#sortable" ).sortable({
						        	axis: "y",
						        	distance: 15,
						        	opacity: 0.7,
						        	cursor: "move",
								    update: function( event, ui ) {
								    	ordreContenu();		    	
								    }
								});
								
								if(elem){
									console.log(elem);
									elem.innerHTML = '<i class="icon-ban-circle"></i> Désactiver le changement d\'ordre</a>';
									elem.setAttribute("onclick","desactiveSortable(this);")
								}
								
						       
						        $( "#sortable" ).disableSelection();
						        ordreContenu();
						    }
						    function desactiveSortable(elem) {
						    	 $( "#sortable" ).sortable("destroy");
						    	 $( "#sortable" ).enableSelection();
						    	 if(elem){
										console.log(elem);
										elem.innerHTML = '<i class="icon-move"></i> Activer le changement d\'ordre';
										elem.setAttribute("onclick","activeSortable(this);")
									}
							    }
						    
						    function ordreContenu(){
					        	sort = $( "#sortable" ).sortable("toArray");
							    	$.ajax({
									  url: "{{ path('articleoffre_sort') }}",
									  type: 'POST',
									  data: "sort="+sort
									 });				
					        }
						</script>
					</td>
					<td colspan="2">Sous Total	: </td>
						<td class="text-right">{{ macro.monetaire(entity.CalculSommeTotale) }} CHF</td>
						<td rowspan="10" ></td>
					</tr>
					<tr>
						<td colspan="2" >TVA {{ entity.tVA*100 }}% : </td>
						<td class="text-right">{{ macro.monetaire(entity.CalculTVA) }} CHF</td>
					</tr>
					<tr>
						<td colspan="2">Total TTC : </td>
						<td class="text-right">{{ macro.monetaire(entity.CalculSommeMontantTotal) }} CHF</td>
					</tr>
		        </tfoot>
		    </table>
	    
	    {# Seulement si le statut est "en création" #}
	    {% if entity.editable  %}
			{{ render(controller("FMROffreBundle:ArticleOffre:new", { 'id':entity.id } )) }}
		{% endif %}
	</div>
	
    <div class="form-actions">
        <a class="btn" href="{{ path('offre') }}">
            Retour &agrave; la liste
        </a>

        <a class="btn btn-danger" href="{{ path('offre_delete', { 'id': entity.id }) }}">
            Supprimer
        </a>
</div>

{% endblock %}
