<table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>N°</th>
                <th>Architecte</th>
                <th>Lieu</th>
                <th>Description</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chantier in chantiers %}
            <tr>
                <td><a href="{{ path('chantier_show', { 'id': chantier.id }) }}">{{ chantier.id }}</a></td>
                <td>{{ chantier.architecte }}</td>
                <td>{{ chantier.lieu }}</td>
                <td>{{ chantier.description }}</td>
                <td>{% if chantier.dateDebut %}{{ chantier.dateDebut|date('d.m.Y') }}{% endif %}</td>
                <td>{% if chantier.dateFin %}{{ chantier.dateFin|date('d.m.Y') }}{% endif %}</td>
                <td><a class="btn btn-info" href="{{ path('chantier_show', { 'id': chantier.id }) }}">Voir</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>