{# Projet TPI - Fabrice Maillefer #}
{% extends 'FMRChantierBundle::layout.html.twig' %}
{% block title %}{{ parent() }} Création{% endblock %}
{% block sidebar %}
	<li><a href="{{ path('chantier') }}">Liste des chantiers</a></li>
	<li class="divider"></li>
    {{ parent() }}
{% endblock %}
{% block content -%}
	<div class="page-header">
	    <h1>Ajouter un chantier</h1>
	    <div style="text-align:right;">
	    	<a class="btn" href="{{ path('chantier') }}">
	            Retour &agrave; la liste
	        </a>
	    </div>
	</div>

    <form action="{{ path('chantier_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </p>
    </form>

        	<div class="form-actions">
        <a class="btn" href="{{ path('chantier') }}">
            Retour &agrave; la liste
        </a>
</div>

{% endblock %}
