{% extends 'FMRChantierBundle::layout.html.twig' %}
{% block content -%}
<div class="page-header">
		<h1>Chantier N° {{ entity.id }} pour {{ entity.client }}</h1>
		<div style="text-align:right;">
			<a class="btn btn-primary" href="{{ path('chantier_edit', { 'id': entity.id }) }}">
				Editer
			</a>
		</div>
	</div>

<div class="row-fluid">
	<h3>Informations sur le chantier : </h3>
		<div class="row-fluid">
			<div class="span6">
				<p><strong>Date de d&eacute;but : </strong>
           		{{ entity.dateDebut|date('d.m.Y') }}</p>
           		<p><strong>Date de fin : </strong>
           		{{ entity.dateFin|date('d.m.Y') }}</p>
           		<p><strong>Lieu : </strong>
           		{{ entity.lieu }}</p>
           		<p><strong>Architecte : </strong>
           		{{ entity.architecte }}</p>
				<p><strong>Description : </strong>{{ entity.description }}</p>
			</div>
			<div class="span6">
				<p><strong>Date Cr&eacute;ation</strong>
           		{{ entity.dateCreation|date('d.m.Y H:i:s') }}</p>
           		{% if entity.offre %}
					<h4>Offre :</h4>
					<strong>Offre d'origine :</strong> <a href="{{ path('offre_show', { 'id': entity.offre.id }) }}">{{ entity.offre }}</a>
				{% endif %}
				
           	</div>
           		{% if entity.facture %}
					<a class="btn btn-info" href="{{ path('facture_show', { 'id': entity.facture.id }) }}">Voir la facture de ce chantier</a>
				{% else %}
					<a class="btn btn-info" href="{{ path('chantier_facture_create', { 'id': entity.id }) }}">Facturer ce chantier</a>
				{% endif %}
		</div>
		
		<hr />
	<h3>Informations sur le client :</h3>
			<p><strong>Client : </strong><a href="{{ path('client_show', { 'id': entity.client.id }) }}">{{ entity.client }}</a></p>
			<p><strong>Adresse : </strong>{{ entity.client.adresse }}</p>
			<p><strong>Localité : </strong>{{ entity.client.NPA }} {{ entity.client.Localite }}</p>
			<hr />
	<h3>Fournitures :</h3>
		<a class="btn btn-primary" href="{{ path('chantier_fourniture', { 'id': entity.id }) }}">
            Liste des fournitures
        </a>
</div>

<div class="form-actions">
        <a class="btn" href="{{ path('chantier') }}">
            Retour &agrave; la liste
        </a>
        <a class="btn btn-primary" href="{{ path('chantier_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
        <a class="btn btn-danger" href="{{ path('chantier_delete', { 'id': entity.id }) }}">
            Supprimer
        </a>
</div>

{% endblock %}
