{# Projet TPI - Fabrice Maillefer #}
{% extends 'FMRChantierBundle::layout.html.twig' %}
{% block title %}{{ parent() }} Details de {{ entity}}{% endblock %}
{% block sidebar %}
	<li><a href="{{ path('client') }}">Liste de tous les clients</a></li>
	<li class="divider"></li>
    {{ parent() }}
    <li class="divider"></li>
	<li class="nav-header">Chantier {{ entity.id }}</li>
	<li><a href="{{ path('chantier_edit', { 'id': entity.id }) }}">Editer le chantier</a></li>
	<li><a href="{{ path('chantier_fourniture', { 'id': entity.id }) }}">Liste des fournitures</a></li>
{% endblock %}
{% block content %}
<div class="page-header">
		<h1>Chantier N° {{ entity.id }} pour {{ entity.client }}</h1>
		<div style="text-align:right;">
			<a class="btn btn-primary" href="{{ path('chantier_edit', { 'id': entity.id }) }}">
				Editer
			</a>
		</div>
	</div>

<div class="row-fluid">
	{% include 'FMRChantierBundle:Chantier:info.html.twig' with {'chantier':entity} %}
	<h3>Informations sur le client :</h3>
			<p><strong>Client : </strong><a href="{{ path('client_show', { 'id': entity.client.id }) }}">{{ entity.client }}</a></p>
			<p><strong>Adresse : </strong>{{ entity.client.adresse }}</p>
			<p><strong>Localité : </strong>{{ entity.client.NPA }} {{ entity.client.Localite }}</p>
			<hr />
	<h3>Fournitures :</h3>
		<a class="btn btn-primary" href="{{ path('chantier_fourniture', { 'id': entity.id }) }}">
            Liste des fournitures
        </a>
</div>

<div class="form-actions">
        <a class="btn" href="{{ path('chantier') }}">
            Retour &agrave; la liste
        </a>
        <a class="btn btn-primary" href="{{ path('chantier_edit', { 'id': entity.id }) }}">
            Modifier
        </a>
        <a class="btn btn-danger" href="{{ path('chantier_delete', { 'id': entity.id }) }}">
            Supprimer
        </a>
</div>

{% endblock %}
